alacritty/.config/alacritty/current_theme.toml
kitty/.config/kitty/current-theme.conf
kitty/.config/kitty/kitty.conf.bak
ncspot/.config/ncspot/userstate.cbor
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/lua/custom/colorscheme-saver/current_scheme.txt
